body {
    background-color: rgb(126, 126, 126);
    margin: 150px auto;
    text-align: center;
}

#banner {
    font-size: 100px;
    text-transform: uppercase;
    background-color: rgb(214, 166, 94);
    color: white;
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

#clock {
    background-color: rgb(80, 80, 80);
    font-size: 150px;
    color: white;
    height: 200px;
    width: 80%;
    margin: 0 auto;
}