#ISS {
    height: 860px;
}

#lat-lon { 
    height: 80px;
    width: 280px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(194, 203, 206, 0.76);
    border-radius: 4px;
    left: 70%;
    top: 10%;
  }

  
  #lat-lon p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#Text{
    
    width: 50%;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(194, 203, 206, 0.76);
    border-radius: 4px;
    font-weight: normal;
}


body{
    /* background-color: rgba(0, 88, 129, 0.507); */
    background-color: rgba(132, 196, 226, 0.767);
}



